<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Projet Symfony</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="afficheFormation">Formation</a>
        <a class="nav-link" href="afficheEmploye">Employe</a>
        <a class="nav-link" href="afficherInscriptionPublic">Affiche inscription</a>
        
      </div>
    </div>
  </div>
</nav>

<br><br><br><figure class="text-center"><h1 >Vous êtes dans la liste des Formations: </h1></br></figure>
{% if (message)%}
    {{message}}
{% endif %}

   <div class="container"><div class="shadow-lg p-3 mb-5 bg-body rounded"> 
  
     <table class="table">
  <thead>
    <tr>
      <th scope="col">Departement</th>
      <th scope="col">Date Début</th>
      <th scope="col">Nombres Heures</th>
      <th scope="col">Libelle Produit</th>
      <th scope="col">Description</th>
      <th scope="col">Suppression</th>
      <th scope="col">Ajouter Formation</th>
    
    </tr>
  </thead>
  <tbody>
  {% for formation in ensFormations %}
  
    <tr>
      <td><b>{{ formation.departement}} </b></td>
      <td><b>{{ formation.dateDebut|date("m/d/Y") }}</b></td>
      <td><b>{{ formation.nbreHeures}} </b></td>
      <td><b>{{ formation.produit.libelle}}</b></td>
      <td><b>{{ formation.Description}}</b></td>
      <td> <a href="{{path('app_formation_sup', {'id': formation.id} )}}">suppression</a>  </td>
      <td> <a href="{{path('app_formation_ajouter')}}">Ajouter Formation</a> </td>
    </tr>
   {% endfor %} 
  </tbody>
</table>
   
</div></div> 

{% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('css/style1.css') }}">



